@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: black !important; 
}

.nav-link {
    color: white !important;
}

#logo {
    float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
    margin-top: 15px;

}

.jumbotron {
    background-image: asset-url('jumbo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 525px;
    margin-bottom: 95px;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: #DDFFFF;
}

/* Other Classes for Page Styling */

body {
  background: #DDFFFF;
  background: linear-gradient(to right, #DDFFFF, #DDFFFF);
}

